<div class="container">
  <div class="list">
    <p *ngFor="let person of people">
      {{ person.name }} {{ convertStatusIntoString(person.eliminated) }}
    </p>
  </div>
  <div class="datainput">
    <mat-form-field class="example-full-width">
      <mat-label>Naam</mat-label>
      <input matInput placeholder="Naam" value="" [(ngModel)]="name" />
    </mat-form-field>
    <mat-checkbox class="example-margin" (change)="test($event.checked)">
      geëlimineerd
    </mat-checkbox>
  </div>
  <div class="buttons">
    <button mat-raised-button (click)="addPerson()">Voeg toe</button>
    <button mat-raised-button (click)="clearAll()">Clear</button>
  </div>
</div>
